<link href="~/Views/profile.css" rel="stylesheet" type="text/css" />    
            
                 
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li class="disabled">
                            <a href="#">Messages</a>
                        </li>
                        <li class="dropdown pull-right">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </div>


    
    <div class="row clearfix">
        <div class="col-md-12 column">
                    <div class="user-image">
                        <img src="http://www.gravatar.com/avatar/2ab7b2009d27ec37bffee791819a090c?s=100&d=mm&r=g" alt="Jimmy Ramos" title="Jimmy Ramos" class="img-circle">
                    </div>
                    <div class="user-info-block">
                        <div class="user-heading">
                            <h3>Jimmy Ramos</h3>
                            <span class="help-block">San Pedro Sula, HN</span>
                        </div>
                        <ul class="navigation">
                            <li class="active">
                                <a data-toggle="tab" href="#information">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#settings">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#email">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#events">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="user-body">
                            <div class="tab-content">
                                <div id="information" class="tab-pane active">
                                    <h4>Account Information</h4>
                                </div>
                                <div id="settings" class="tab-pane">
                                    <h4>Settings</h4>
                                </div>
                                <div id="email" class="tab-pane">
                                    <h4>Send Message</h4>
                                </div>
                                <div id="events" class="tab-pane">
                                    <h4>Events</h4>
                                </div>
                            </div>
                        </div>
                   </div>
            </div>
       </div>

   

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div>
                <div class="panel-heading">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input type="text" class="form-control" placeholder="Buscar liga" ng-model="buscar.nombre">
                    </div>
                </div>
                <div class="btn-toolbar">
                    <button class="btn btn-primary">Nueva Liga</button>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <a href="" ng-click="ordenarPor('nombre')">
                                        Nombre/s
                                    </a>
                                    <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-nombre')"></span>
                                </th>
                                <th>País</th>
                                <th>Fecha inicio</th>
                                <th>Fecha finalizacion</th>
                                <th>Total de equipos</th>
                                <th style="width: 50px;"></th>                     
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="liga in ligas | orderBy:OrdenSeleccionado | filter:buscar">
                                <td><a class="btn-link" href="/league/{{liga.id}}">{{liga.nombre}}</a></td>
                                <td>{{liga.pais | uppercase}}</td>
                                <td>{{liga.inicio | date:'fullDate'}}</td>
                                <td>{{liga.fin | date:'fullDate'}} </td>
                                <td>{{liga.cant_equipos}}</td>
                                <td>
                                    <a href="user.html"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a href="#myModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text">Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>